services:
  mysqldb:
    image: mysql:latest
    healthcheck:
          test: ["CMD", "mysqladmin", "ping", "-h", "localhost"] 
          interval: 1s 
          timeout: 3s 
          retries: 10

    container_name: mysql_container
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=AmazingNews123$
      - MYSQL_USERNAME=root                   # Fixed the variable name
      - MYSQL_DATABASE=feedback_db
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql-data:/var/lib/mysql
    networks:
      - app_network  

  tomcat:
    build: .
    container_name: tomcat_container
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      mysqldb:
        condition: service_healthy
    networks:
      - app_network 

volumes:
  mysql-data:

networks:
  app_network: 
    driver: bridge
