* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #212121;
	color: #fff;
}

.content_container {
	width: 100%;
	height: 100vh;
}

.btn-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	min-width: 10%;
}

.btn-block {
	width: 100%;
}